.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    input[type="file"] {
      margin-bottom: 20px;
    }
  
    img {
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
  }