<ion-content class="fullscreen"  style="--background: linear-gradient(to bottom, #c37b10, #efceb4);">

    <!-- Pantalla de Bienvenida -->
  <div class="game-screen">

      <ion-button class="img-button" fill="clear" style="background-image: url('../../../assets/img/feo.jpg'); font-size: 30px; color: #c37b10;" (click)="redirect('feas')">
      COSAS FEAS
    </ion-button>

      <ion-button class="img-button" fill="clear" style="background-image: url('../../../assets/img/lindo.jpg'); font-size: 30px; color:black;" (click)="redirect('lindas')">
      COSAS LINDAS
    </ion-button>

     
  </div>
    
  
  </ion-content>
  