<ion-content class="fullscreen"  style="--background: linear-gradient(to bottom, #c37b10, #efceb4);">

    <!-- Pantalla de Bienvenida -->
  <div class="game-screen">

    <!-- <ion-button expand="block" type="submit" color="warning" (click)="logout()">
      Cerrar sesión
    </ion-button> -->

 
      <ion-button class="img-button" fill="clear" style="background-image: url('../../../assets/img/feo.jpg');" (click)="redirect('feas')">
      </ion-button>

      <ion-button class="img-button" fill="clear" style="background-image: url('../../../assets/img/lindo.jpg')" (click)="redirect('lindas')">
      </ion-button>

     
  </div>
    
  
  </ion-content>
  