<ion-content class="fullscreen"  style="--background: url('../../../assets/img/splash.png') no-repeat center center / cover;">
  <div class="container">
        <div>
          <h1 class="top-heading">División: 11 (A341-2)</h1>
        </div>
        <div>
          <img 
            src="../../../assets/icon/favicon.webp" 
            alt="Splash Image" 
            class="animateSplash"/>
        </div>
        <div>
          <h1 class="bottom-heading">Alumna: Trinidad Faccini</h1>
        </div>
      </div>
      
      
</ion-content>

