<ion-content class="fullscreen"  style="--background: linear-gradient(to bottom, #c37b10, #efceb4)">
  <div class="container">
        <div style="margin-bottom: 20px;">
          <h1 class="top-heading" style="visibility: hidden;">División: 11 (A341-2)</h1>
          <h1 class="top-heading">División: 11 (A341-2)</h1>
        </div>
        <div>
          <img 
            src="../../../assets/icon/favicon.webp" 
            alt="Splash Image" 
            class="animateSplash"/>
        </div>

        <div>
          <h1 class="bottom-heading">Alumna: Trinidad Faccini</h1>
          <h1 class="top-heading" style="visibility: hidden;">División: 11 (A341-2)</h1>
          
        </div>

      </div>
      
      
</ion-content>
