
.login-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.05em;
  font-family: "Kanit";
  margin-bottom: 30px;
  padding-top: 70px
}
    
  
    form {
      width: 80%;
      font-family: "Kanit";
      
      ion-item {
        --background: rgb(245, 249, 250);
        border-radius: 8px;
        margin-bottom: 30px;
        --border-style: none


        ion-label {
          color: #000;
          font-family: "Kanit";
        }

        align-content: center;
  
        ion-input {
          --placeholder-color: rgba(0, 0, 0, 0.479);
          color: black;
          font-family: "Kanit";

        }
      }
  

    }
  

      .custom-button {
        --background: #CDE7B0;  /* Morado */
        --color: #59594A;         /* Texto blanco */
        --background-activated: #A3BFA8; /* Color de fondo cuando se presiona */
      }

      .button-login {
        --background: #b1c819;  /* Morado */
        --color: #59594A;         /* Texto blanco */
        --background-activated: #73b47f; /* Color de fondo cuando se presiona */
      }
    

    .buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

    }


  
  