<ion-content class="fullscreen"  style="--background: linear-gradient(to bottom, #c37b10, #efceb4);">

  <div class="login-content">

    <h1>Ingresa tus datos</h1>

    @if (errorMessage) {
      <p style="text-align: center; color: red;">{{errorMessage}}</p>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Correo" placeholder="ejemplo@gmail.com" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Clave" placeholder="*******" type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="buttons">
        <ion-button class="custom-button" expand="block" type="button"  (click)="autocompleCredentials(0)">
          Ingreso rápido 1
        </ion-button>

        <ion-button class="custom-button" expand="block" type="button"  (click)="autocompleCredentials(1)">
          Ingreso rápido 2
        </ion-button>

        <ion-button class="custom-button" expand="block" type="button"  (click)="autocompleCredentials(2)">
          Ingreso rápido 3
        </ion-button>

      </div>

      <ion-button class="button-login" expand="block" type="submit"  [disabled]="loginForm.invalid">
        Iniciar sesión
      </ion-button>
     
    </form>


    <!-- <div class="forgot-password">
      <p (click)="navigateToRegister()" style="cursor: pointer; ">No tenes cuenta? Registrate</p>
    </div> -->

</div>
</ion-content>
