.login-content {
    /* background-image: url('../../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  
    .logo-container {
      padding-top: 40px;
      margin-bottom: 40px;
  
      .logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
  
      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        letter-spacing: 0.05em;
        font-family: "HalfTerm";
      }
    }
  
    form {
      width: 80%;
      font-family: "HalfTerm";
      
      ion-item {
        --background: rgb(245, 249, 250);
        border-radius: 8px;
        margin-bottom: 20px;

        ion-label {
          color: #000;
          font-weight: bold;
          font-family: "HalfTerm";

        }
  
        ion-input {
          --placeholder-color: rgba(0, 0, 0, 0.479);
          color: black;
          font-family: "HalfTerm";

        }
      }
  
      ion-button {
        color: warn;
        border-radius: 8px;
      }
    }
  
    .forgot-password {
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      font-size: 14px;
    }
  }
  