canvas {
    width: 96%;
    max-height: 100%;
  }
  
.main-screen {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}