<ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between;">
      <ion-title>Me gusta en imagenes {{categoria}} </ion-title>
    </div>
    
  </ion-toolbar>
</ion-header>


<ion-content class="fullscreen" style="--ion-background-color: linear-gradient(to bottom, #c37b10, #efceb4);">
  
  <div class="main-screen">

    <div class="canvas">
      <canvas id="likesChart"></canvas>
    </div>
    
    <!-- Muestra la imagen seleccionada debajo del gráfico -->
    <div *ngIf="selectedImage">
      <h3 style="font-family: Kanit; color: orange;">Imagen seleccionada:</h3>
      <img [src]="selectedImage.url" alt="Imagen seleccionada" width="200">
      <p>Usuario: {{selectedImage.userName}} - Fecha: {{selectedImage.timestamp*1000 | date: 'dd/MM'}}</p>
    </div>
  

  </div>

</ion-content>

