<ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between;">
      <ion-title>Cosas {{categoria}}</ion-title>
      <ion-button fill="clear">
        <ion-icon name="cloud-upload"></ion-icon>    
      </ion-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content class="fullscreen"  style="--background: linear-gradient(to bottom, #c37b10, #efceb4);">

    <!-- Pantalla de Bienvenida -->
  <div class="main-screen">

    <!-- <ion-button expand="block" type="submit" color="warning" (click)="logout()">
      Cerrar sesión
    </ion-button> -->

    <div class="buttons">

        <ion-button>
          MIS IMAGENES 
        </ion-button>
  
        <ion-button>
          GRAFICOS
        </ion-button>
      
    </div>



    <div>

      <listado-imagenes [categoria]="categoria">
        
      </listado-imagenes>

    </div>
 
  </div>
    
  
  </ion-content>
  