
<ion-list class="lista-imagenes">
<ion-item *ngFor="let image of images" class="custom-item">
  <div class="imagen-contenedor">
      <ion-thumbnail class="imagen-grande">
        <img [src]="image.url">
      </ion-thumbnail>
      <div class="contenido-debajo" >
        <ion-label style="display: flex; justify-content: space-between;">
          <p style="font-weight: bold;">Usuario: {{image.userName}} - Fecha: {{image.timestamp*1000 | date: 'dd/MM'}}
          </p>
          <!-- <h2>Me gusta: {{ image.likesCount }}</h2>  -->
        </ion-label>
        <ion-button fill="clear" (click)="toggleLike(image)">
          <ion-icon [name]="image.liked ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>