<ion-header>
    <ion-toolbar>
      <div style="display: flex; justify-content: space-between;">
        <ion-title>Mis imagenes {{categoria}} </ion-title>
      </div>
      
    </ion-toolbar>
  </ion-header>


<ion-content class="fullscreen" style="--ion-background-color: linear-gradient(to bottom, #c37b10, #efceb4);">

    <div class="main-screen">

      <p *ngIf="loading">Cargando imagenes</p>
      <p *ngIf="loading == false && images.length === 0">No hay imagenes subidas</p>

      <listado-imagenes [categoria]="categoria" [mostrarUserId]="mostrarUserId" [images]="images">
      
      </listado-imagenes>
    

    </div>

</ion-content>

  